# create database

In [1]:
import sqlite3

In [2]:
file = "namanfinal.db"
  
conn = sqlite3.connect(file) 
print("Database created and connected.")

Database created and connected.

# create table 1

In [3]:
cursor_obj = conn.cursor()
 
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS Table1")
 
# Creating table
table = ''' CREATE TABLE Table1 (
               Sno INT PRIMARY KEY NOT NULL,
               MovieName VARCHAR(255),
               Director1 VARCHAR(255),
               Director2 VARCHAR(255),
               Director3 VARCHAR(255),
               Duration VARCHAR(255),
               YearNo VARCHAR(255),
               Rating VARCHAR(255),
               MetaScore VARCHAR(255)
            ); '''
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

# create table 2

In [4]:
cursor_obj.execute("DROP TABLE IF EXISTS Table2")
 
# Creating table
table = ''' CREATE TABLE Table2 (
               MovieName VARCHAR(255),
               Star1 VARCHAR(255),
               Star2 VARCHAR(255),
               Star3 VARCHAR(255),
               Star4 VARCHAR(255),
               Votes VARCHAR(255),
               Genre1 VARCHAR(255),
               Genre2 VARCHAR(255),
               Genre3 VARCHAR(255),
               Gross_Collection VARCHAR(255),
               Popularity VARCHAR(255),
               Certification VARCHAR(255)
            ); '''
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

# Insert Records In Table

In [5]:
import csv
# reading data from the CSV file
with open('first.csv') as f:
    reader = csv.reader(f)
    data = list(reader)

data.pop(0)     
for row in data:
   cursor_obj.execute("INSERT INTO Table1 (Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore) values (?, ?, ?, ?, ?, ?, ?, ?, ?)", row)

print("records saved successfuly")

records saved successfuly

In [6]:
conn.commit()

# Reading Table1

In [7]:
import pandas as pd
statement = '''SELECT * FROM Table1'''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)

data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore
0,1,The Dark Knight,Christopher Nolan,NaN,NaN,152 min,2008,9,84
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201 min,2003,9,94
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140 min,2023,8.9,86
3,4,Inception,Christopher Nolan,NaN,NaN,148 min,2010,8.8,74
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178 min,2001,8.8,92
5,6,The Lord of the Rings: The Two Towers,Peter Jackson,NaN,NaN,179 min,2002,8.8,87
6,7,The Matrix,Lana Wachowski,Lilly Wachowski,NaN,136 min,1999,8.7,73
7,8,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,NaN,NaN,124 min,1980,8.7,82
8,9,Soorarai Pottru,Sudha Kongara,NaN,NaN,153 min,2020,8.7,NaN
9,10,Terminator 2: Judgment Day,James Cameron,NaN,NaN,137 min,1991,8.6,75
10,11,Star Wars,George Lucas,NaN,NaN,121 min,1977,8.6,90
11,12,Shichinin no samurai,Akira Kurosawa,NaN,NaN,207 min,1954,8.6,98
12,13,Seppuku,Masaki Kobayashi,NaN,NaN,133 min,1962,8.6,85
13,14,Sita Ramam,Hanu Raghavapudi,NaN,NaN,163 min,2022,8.6,NaN
14,15,Gladiator,Ridley Scott,NaN,NaN,155 min,2000,8.5,67
15,16,LÃ©on,Luc Besson,NaN,NaN,110 min,1994,8.5,64
16,17,The Dark Knight Rises,Christopher Nolan,NaN,NaN,164 min,2012,8.4,78
17,18,Avengers: Endgame,Anthony Russo,Joe Russo,NaN,181 min,2019,8.4,78
18,19,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,Rodney Rothman,117 min,2018,8.4,87
19,20,Raiders of the Lost Ark,Steven Spielberg,NaN,NaN,115 min,1981,8.4,85
20,21,Aliens,James Cameron,NaN,NaN,137 min,1986,8.4,84
21,22,Oldeuboi,Park Chan-wook,NaN,NaN,101 min,2003,8.4,77
22,23,Avengers: Infinity War,Anthony Russo,Joe Russo,NaN,149 min,2018,8.4,68
23,24,Kaithi,Lokesh Kanagaraj,NaN,NaN,145 min,2019,8.4,NaN
24,25,Asuran,Vetrimaaran,NaN,NaN,141 min,2019,8.4,NaN
25,26,Top Gun: Maverick,Joseph Kosinski,NaN,NaN,130 min,2022,8.3,78
26,27,Heat,Michael Mann,NaN,NaN,170 min,1995,8.3,76
27,28,North by Northwest,Alfred Hitchcock,NaN,NaN,136 min,1959,8.3,98
28,29,Star Wars: Episode VI - Return of the Jedi,Richard Marquand,NaN,NaN,131 min,1983,8.3,58
29,30,Mononoke-hime,Hayao Miyazaki,NaN,NaN,134 min,1997,8.3,76
30,31,Dangal,Nitesh Tiwari,NaN,NaN,161 min,2016,8.3,NaN
31,32,Kantara,Rishab Shetty,NaN,NaN,148 min,2022,8.3,NaN
32,33,Vikram,Lokesh Kanagaraj,NaN,NaN,175 min,2022,8.3,NaN
33,34,K.G.F: Chapter 2,Prashanth Neel,NaN,NaN,168 min,2022,8.3,NaN
34,35,Shershaah,Vishnuvardhan,NaN,NaN,135 min,2021,8.3,NaN
35,36,Ratsasan,Ram Kumar,NaN,NaN,170 min,2018,8.3,NaN
36,37,Batman Begins,Christopher Nolan,NaN,NaN,140 min,2005,8.2,70
37,38,Spider-Man: No Way Home,Jon Watts,NaN,NaN,148 min,2021,8.2,71
38,39,Jurassic Park,Steven Spielberg,NaN,NaN,127 min,1993,8.2,68
39,40,1917,Sam Mendes,NaN,NaN,119 min,2019,8.2,78
40,41,Indiana Jones and the Last Crusade,Steven Spielberg,NaN,NaN,127 min,1989,8.2,65
41,42,Kill Bill: Vol. 1,Quentin Tarantino,NaN,NaN,111 min,2003,8.2,69
42,43,V for Vendetta,James McTeigue,NaN,NaN,132 min,2005,8.2,62
43,44,Die Hard,John McTiernan,NaN,NaN,132 min,1988,8.2,72
44,45,Ran,Akira Kurosawa,NaN,NaN,162 min,1985,8.2,97
45,46,Kimetsu no Yaiba: Mugen Ressha-Hen,Haruo Sotozaki,NaN,NaN,117 min,2020,8.2,72
46,47,Gangs of Wasseypur,Anurag Kashyap,NaN,NaN,321 min,2012,8.2,89
47,48,YÃ´jinbÃ´,Akira Kurosawa,NaN,NaN,110 min,1961,8.2,93
48,49,K.G.F: Chapter 1,Prashanth Neel,NaN,NaN,156 min,2018,8.2,NaN
49,50,Baahubali 2: The Conclusion,S.S. Rajamouli,NaN,NaN,167 min,2017,8.2,NaN

# Inserting Data in Table 2

In [8]:
import csv
# reading data from the CSV file
with open('second.csv') as f:
    reader = csv.reader(f)
    data = list(reader)

data.pop(0)             
for row in data:
   cursor_obj.execute("INSERT INTO Table2 (MovieName,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification) values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", row)

print("records saved successfuly")

records saved successfuly

# Reading Table 2

In [9]:
import pandas as pd
statement = '''SELECT * FROM Table2'''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,MovieName,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2758794,Action,Crime,Drama,$534.86M,9,PG-13
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1906178,Action,Adventure,Drama,$377.85M,9,PG-13
2,Spider-Man: Across the Spider-Verse,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,205631,Animation,Action,Adventure,NaN,8.9,PG
3,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2449176,Action,Adventure,Sci-Fi,$292.58M,8.8,PG-13
4,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1934377,Action,Adventure,Drama,$315.54M,8.8,PG-13
5,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1720087,Action,Adventure,Drama,$342.55M,8.8,PG-13
6,The Matrix,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Hugo Weaving,1978758,Action,Sci-Fi,NaN,$171.48M,8.7,R
7,Star Wars: Episode V - The Empire Strikes Back,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1334620,Action,Adventure,Fantasy,$290.48M,8.7,PG
8,Soorarai Pottru,Suriya,Paresh Rawal,Urvashi,Aparna Balamurali,120271,Action,Drama,NaN,NaN,8.7,TV-MA
9,Terminator 2: Judgment Day,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,1135297,Action,Sci-Fi,NaN,$204.84M,8.6,R
10,Star Wars,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1406654,Action,Adventure,Fantasy,$322.74M,8.6,PG
11,Shichinin no samurai,ToshirÃ´ Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,356106,Action,Drama,NaN,$0.27M,8.6,Not Rated
12,Seppuku,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,TetsurÃ´ Tanba,62767,Action,Drama,Mystery,NaN,8.6,Not Rated
13,Sita Ramam,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,61883,Action,Drama,Mystery,NaN,8.6,U
14,Gladiator,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1552386,Action,Adventure,Drama,$187.71M,8.5,R
15,LÃ©on,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1202120,Action,Crime,Drama,$19.50M,8.5,R
16,The Dark Knight Rises,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1764221,Action,Drama,Thriller,$448.14M,8.4,PG-13
17,Avengers: Endgame,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,1203144,Action,Adventure,Drama,$858.37M,8.4,PG-13
18,Spider-Man: Into the Spider-Verse,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,617646,Animation,Action,Adventure,$190.24M,8.4,PG
19,Raiders of the Lost Ark,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,1007763,Action,Adventure,NaN,$248.16M,8.4,PG
20,Aliens,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,739359,Action,Adventure,Sci-Fi,$85.16M,8.4,R
21,Oldeuboi,Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Byeong-Ok,604422,Action,Drama,Mystery,$0.71M,8.4,R
22,Avengers: Infinity War,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,1144860,Action,Adventure,Sci-Fi,$678.82M,8.4,PG-13
23,Kaithi,Karthi,Narain,Arjun Das,George Maryan,37002,Action,Adventure,Crime,NaN,8.4,Not Rated
24,Asuran,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,31661,Action,Drama,NaN,NaN,8.4,Not Rated
25,Top Gun: Maverick,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,619407,Action,Drama,NaN,$718.73M,8.3,PG-13
26,Heat,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,686747,Action,Crime,Drama,$67.44M,8.3,R
27,North by Northwest,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,337288,Action,Adventure,Mystery,$13.28M,8.3,Approved
28,Star Wars: Episode VI - Return of the Jedi,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1087868,Action,Adventure,Fantasy,$309.13M,8.3,PG
29,Mononoke-hime,YÃ´ji Matsuda,Yuriko Ishida,YÃ»ko Tanaka,Billy Crudup,412449,Animation,Action,Adventure,$2.38M,8.3,PG-13
30,Dangal,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,200043,Action,Biography,Drama,$12.39M,8.3,Not Rated
31,Kantara,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,97280,Action,Adventure,Drama,NaN,8.3,Not Rated
32,Vikram,Kamal Haasan,Vijay Sethupathi,Fahadh Faasil,Narain,65178,Action,Crime,Thriller,NaN,8.3,UA
33,K.G.F: Chapter 2,Yash,Sanjay Dutt,Raveena Tandon,Srinidhi Shetty,141526,Action,Crime,Drama,$6.60M,8.3,Not Rated
34,Shershaah,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,125846,Action,Biography,Drama,NaN,8.3,TV-14
35,Ratsasan,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,47661,Action,Crime,Drama,NaN,8.3,Not Rated
36,Batman Begins,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1523788,Action,Crime,Drama,$206.85M,8.2,PG-13
37,Spider-Man: No Way Home,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,821005,Action,Adventure,Fantasy,$804.75M,8.2,PG-13
38,Jurassic Park,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,1027337,Action,Adventure,Sci-Fi,$402.45M,8.2,PG-13
39,1917,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,634880,Action,Drama,War,$159.23M,8.2,R
40,Indiana Jones and the Last Crusade,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,787430,Action,Adventure,NaN,$197.17M,8.2,PG-13
41,Kill Bill: Vol. 1,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1151974,Action,Crime,Thriller,$70.10M,8.2,R
42,V for Vendetta,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1149198,Action,Drama,Sci-Fi,$70.51M,8.2,R
43,Die Hard,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,908708,Action,Thriller,NaN,$83.01M,8.2,R
44,Ran,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke RyÃ»,130911,Action,Drama,War,$4.14M,8.2,R
45,Kimetsu no Yaiba: Mugen Ressha-Hen,Natsuki Hanae,Akari KitÃ´,Yoshitsugu Matsuoka,Hiro Shimono,66767,Animation,Action,Adventure,$47.70M,8.2,R
46,Gangs of Wasseypur,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,100141,Action,Comedy,Crime,NaN,8.2,Not Rated
47,YÃ´jinbÃ´,ToshirÃ´ Mifune,EijirÃ´ TÃ´no,Tatsuya Nakadai,YÃ´ko Tsukasa,127187,Action,Drama,Thriller,NaN,8.2,Not Rated
48,K.G.F: Chapter 1,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois,92930,Action,Crime,Drama,NaN,8.2,Not Rated
49,Baahubali 2: The Conclusion,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,108468,Action,Drama,NaN,$20.19M,8.2,Not Rated

# Queries On Table 1

# Query 1

In [10]:
import pandas as pd
statement = '''SELECT * FROM Table1 where director1 in('Christopher Nolan','Matt Reeves') or director2 in('Christopher Nolan','Matt Reeves') or director3 in('Christopher Nolan','Matt Reeves') '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)

data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore
0,1,The Dark Knight,Christopher Nolan,NaN,NaN,152 min,2008,9,84
1,4,Inception,Christopher Nolan,NaN,NaN,148 min,2010,8.8,74
2,17,The Dark Knight Rises,Christopher Nolan,NaN,NaN,164 min,2012,8.4,78
3,37,Batman Begins,Christopher Nolan,NaN,NaN,140 min,2005,8.2,70

# Query 2

In [11]:
import pandas as pd
#statement = ''' SELECT *  FROM Table1 where toInt(substr(Duration, 0, instr(Duration, ' ')))>=140 and toInt(TRIM(substr(Duration, 0, instr(Duration, ' '))))<=190 '''

statement = ''' SELECT *  FROM Table1 where  cast(TRIM(substr(Duration, 0, instr(Duration, ' '))) as INTEGER)>=140 and cast(TRIM(substr(Duration, 0, instr(Duration, ' '))) as INTEGER)<=190 '''

#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)

data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore
0,1,The Dark Knight,Christopher Nolan,NaN,NaN,152 min,2008,9,84
1,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140 min,2023,8.9,86
2,4,Inception,Christopher Nolan,NaN,NaN,148 min,2010,8.8,74
3,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178 min,2001,8.8,92
4,6,The Lord of the Rings: The Two Towers,Peter Jackson,NaN,NaN,179 min,2002,8.8,87
5,9,Soorarai Pottru,Sudha Kongara,NaN,NaN,153 min,2020,8.7,NaN
6,14,Sita Ramam,Hanu Raghavapudi,NaN,NaN,163 min,2022,8.6,NaN
7,15,Gladiator,Ridley Scott,NaN,NaN,155 min,2000,8.5,67
8,17,The Dark Knight Rises,Christopher Nolan,NaN,NaN,164 min,2012,8.4,78
9,18,Avengers: Endgame,Anthony Russo,Joe Russo,NaN,181 min,2019,8.4,78
10,23,Avengers: Infinity War,Anthony Russo,Joe Russo,NaN,149 min,2018,8.4,68
11,24,Kaithi,Lokesh Kanagaraj,NaN,NaN,145 min,2019,8.4,NaN
12,25,Asuran,Vetrimaaran,NaN,NaN,141 min,2019,8.4,NaN
13,27,Heat,Michael Mann,NaN,NaN,170 min,1995,8.3,76
14,31,Dangal,Nitesh Tiwari,NaN,NaN,161 min,2016,8.3,NaN
15,32,Kantara,Rishab Shetty,NaN,NaN,148 min,2022,8.3,NaN
16,33,Vikram,Lokesh Kanagaraj,NaN,NaN,175 min,2022,8.3,NaN
17,34,K.G.F: Chapter 2,Prashanth Neel,NaN,NaN,168 min,2022,8.3,NaN
18,36,Ratsasan,Ram Kumar,NaN,NaN,170 min,2018,8.3,NaN
19,37,Batman Begins,Christopher Nolan,NaN,NaN,140 min,2005,8.2,70
20,38,Spider-Man: No Way Home,Jon Watts,NaN,NaN,148 min,2021,8.2,71
21,45,Ran,Akira Kurosawa,NaN,NaN,162 min,1985,8.2,97
22,49,K.G.F: Chapter 1,Prashanth Neel,NaN,NaN,156 min,2018,8.2,NaN
23,50,Baahubali 2: The Conclusion,S.S. Rajamouli,NaN,NaN,167 min,2017,8.2,NaN

# Query 3

In [12]:
import pandas as pd
statement = '''SELECT * FROM Table1 where Rating>7 order by Rating '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore
0,37,Batman Begins,Christopher Nolan,NaN,NaN,140 min,2005,8.2,70
1,38,Spider-Man: No Way Home,Jon Watts,NaN,NaN,148 min,2021,8.2,71
2,39,Jurassic Park,Steven Spielberg,NaN,NaN,127 min,1993,8.2,68
3,40,1917,Sam Mendes,NaN,NaN,119 min,2019,8.2,78
4,41,Indiana Jones and the Last Crusade,Steven Spielberg,NaN,NaN,127 min,1989,8.2,65
5,42,Kill Bill: Vol. 1,Quentin Tarantino,NaN,NaN,111 min,2003,8.2,69
6,43,V for Vendetta,James McTeigue,NaN,NaN,132 min,2005,8.2,62
7,44,Die Hard,John McTiernan,NaN,NaN,132 min,1988,8.2,72
8,45,Ran,Akira Kurosawa,NaN,NaN,162 min,1985,8.2,97
9,46,Kimetsu no Yaiba: Mugen Ressha-Hen,Haruo Sotozaki,NaN,NaN,117 min,2020,8.2,72
10,47,Gangs of Wasseypur,Anurag Kashyap,NaN,NaN,321 min,2012,8.2,89
11,48,YÃ´jinbÃ´,Akira Kurosawa,NaN,NaN,110 min,1961,8.2,93
12,49,K.G.F: Chapter 1,Prashanth Neel,NaN,NaN,156 min,2018,8.2,NaN
13,50,Baahubali 2: The Conclusion,S.S. Rajamouli,NaN,NaN,167 min,2017,8.2,NaN
14,26,Top Gun: Maverick,Joseph Kosinski,NaN,NaN,130 min,2022,8.3,78
15,27,Heat,Michael Mann,NaN,NaN,170 min,1995,8.3,76
16,28,North by Northwest,Alfred Hitchcock,NaN,NaN,136 min,1959,8.3,98
17,29,Star Wars: Episode VI - Return of the Jedi,Richard Marquand,NaN,NaN,131 min,1983,8.3,58
18,30,Mononoke-hime,Hayao Miyazaki,NaN,NaN,134 min,1997,8.3,76
19,31,Dangal,Nitesh Tiwari,NaN,NaN,161 min,2016,8.3,NaN
20,32,Kantara,Rishab Shetty,NaN,NaN,148 min,2022,8.3,NaN
21,33,Vikram,Lokesh Kanagaraj,NaN,NaN,175 min,2022,8.3,NaN
22,34,K.G.F: Chapter 2,Prashanth Neel,NaN,NaN,168 min,2022,8.3,NaN
23,35,Shershaah,Vishnuvardhan,NaN,NaN,135 min,2021,8.3,NaN
24,36,Ratsasan,Ram Kumar,NaN,NaN,170 min,2018,8.3,NaN
25,17,The Dark Knight Rises,Christopher Nolan,NaN,NaN,164 min,2012,8.4,78
26,18,Avengers: Endgame,Anthony Russo,Joe Russo,NaN,181 min,2019,8.4,78
27,19,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,Rodney Rothman,117 min,2018,8.4,87
28,20,Raiders of the Lost Ark,Steven Spielberg,NaN,NaN,115 min,1981,8.4,85
29,21,Aliens,James Cameron,NaN,NaN,137 min,1986,8.4,84
30,22,Oldeuboi,Park Chan-wook,NaN,NaN,101 min,2003,8.4,77
31,23,Avengers: Infinity War,Anthony Russo,Joe Russo,NaN,149 min,2018,8.4,68
32,24,Kaithi,Lokesh Kanagaraj,NaN,NaN,145 min,2019,8.4,NaN
33,25,Asuran,Vetrimaaran,NaN,NaN,141 min,2019,8.4,NaN
34,15,Gladiator,Ridley Scott,NaN,NaN,155 min,2000,8.5,67
35,16,LÃ©on,Luc Besson,NaN,NaN,110 min,1994,8.5,64
36,10,Terminator 2: Judgment Day,James Cameron,NaN,NaN,137 min,1991,8.6,75
37,11,Star Wars,George Lucas,NaN,NaN,121 min,1977,8.6,90
38,12,Shichinin no samurai,Akira Kurosawa,NaN,NaN,207 min,1954,8.6,98
39,13,Seppuku,Masaki Kobayashi,NaN,NaN,133 min,1962,8.6,85
40,14,Sita Ramam,Hanu Raghavapudi,NaN,NaN,163 min,2022,8.6,NaN
41,7,The Matrix,Lana Wachowski,Lilly Wachowski,NaN,136 min,1999,8.7,73
42,8,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,NaN,NaN,124 min,1980,8.7,82
43,9,Soorarai Pottru,Sudha Kongara,NaN,NaN,153 min,2020,8.7,NaN
44,4,Inception,Christopher Nolan,NaN,NaN,148 min,2010,8.8,74
45,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178 min,2001,8.8,92
46,6,The Lord of the Rings: The Two Towers,Peter Jackson,NaN,NaN,179 min,2002,8.8,87
47,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140 min,2023,8.9,86
48,1,The Dark Knight,Christopher Nolan,NaN,NaN,152 min,2008,9,84
49,2,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201 min,2003,9,94

# Query 4

In [13]:
import pandas as pd
statement = '''SELECT MovieName FROM Table1 order by MovieName desc '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

                                            MovieName
0                                           YÃ´jinbÃ´
1                                              Vikram
2                                      V for Vendetta
3                                   Top Gun: Maverick
4                                          The Matrix
5               The Lord of the Rings: The Two Towers
6       The Lord of the Rings: The Return of the King
7   The Lord of the Rings: The Fellowship of the Ring
8                               The Dark Knight Rises
9                                     The Dark Knight
10                         Terminator 2: Judgment Day
11         Star Wars: Episode VI - Return of the Jedi
12     Star Wars: Episode V - The Empire Strikes Back
13                                          Star Wars
14                            Spider-Man: No Way Home
15                  Spider-Man: Into the Spider-Verse
16                Spider-Man: Across the Spider-Verse
17                                    Soorarai Pottru
18                                         Sita Ramam
19                               Shichinin no samurai
20                                          Shershaah
21                                            Seppuku
22                                           Ratsasan
23                                                Ran
24                            Raiders of the Lost Ark
25                                           Oldeuboi
26                                 North by Northwest
27                                      Mononoke-hime
28                                              LÃ©on
29                 Kimetsu no Yaiba: Mugen Ressha-Hen
30                                  Kill Bill: Vol. 1
31                                            Kantara
32                                             Kaithi
33                                   K.G.F: Chapter 2
34                                   K.G.F: Chapter 1
35                                      Jurassic Park
36                 Indiana Jones and the Last Crusade
37                                          Inception
38                                               Heat
39                                          Gladiator
40                                 Gangs of Wasseypur
41                                           Die Hard
42                                             Dangal
43                                      Batman Begins
44                        Baahubali 2: The Conclusion
45                             Avengers: Infinity War
46                                  Avengers: Endgame
47                                             Asuran
48                                             Aliens
49                                               1917

# Query 5

In [14]:
import pandas as pd
statement = '''SELECT MovieName FROM Table1 where MovieName like 'P%' and Rating>7 '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

Empty DataFrame
Columns: [MovieName]
Index: []

# Queries On Table2

# Query 1

In [15]:
import pandas as pd
statement = '''SELECT MovieName FROM Table2 where Star1='Arnold Schwarzenegger' or Star2='Arnold Schwarzenegger' or Star3='Arnold Schwarzenegger' or Star4='Arnold Schwarzenegger'  order by MovieName  '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

                    MovieName
0  Terminator 2: Judgment Day

# Query 2

In [16]:
import pandas as pd
statement = '''SELECT * FROM Table2 order by cast(Votes as INTEGER) desc LIMIT 1'''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,MovieName,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2758794,Action,Crime,Drama,$534.86M,9,PG-13

# Query 3

In [17]:
import pandas as pd

statement = '''SELECT MovieName, Gross_Collection FROM Table2 where Gross_Collection not in('NaN') order by cast( replace(replace(Gross_Collection,'M',''),'$','') as INTEGER) DESC '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

                                            MovieName Gross_Collection
0                                   Avengers: Endgame         $858.37M
1                             Spider-Man: No Way Home         $804.75M
2                                   Top Gun: Maverick         $718.73M
3                              Avengers: Infinity War         $678.82M
4                                     The Dark Knight         $534.86M
5                               The Dark Knight Rises         $448.14M
6                                       Jurassic Park         $402.45M
7       The Lord of the Rings: The Return of the King         $377.85M
8               The Lord of the Rings: The Two Towers         $342.55M
9                                           Star Wars         $322.74M
10  The Lord of the Rings: The Fellowship of the Ring         $315.54M
11         Star Wars: Episode VI - Return of the Jedi         $309.13M
12                                          Inception         $292.58M
13     Star Wars: Episode V - The Empire Strikes Back         $290.48M
14                            Raiders of the Lost Ark         $248.16M
15                                      Batman Begins         $206.85M
16                         Terminator 2: Judgment Day         $204.84M
17                 Indiana Jones and the Last Crusade         $197.17M
18                  Spider-Man: Into the Spider-Verse         $190.24M
19                                          Gladiator         $187.71M
20                                         The Matrix         $171.48M
21                                               1917         $159.23M
22                                             Aliens          $85.16M
23                                           Die Hard          $83.01M
24                                  Kill Bill: Vol. 1          $70.10M
25                                     V for Vendetta          $70.51M
26                                               Heat          $67.44M
27                 Kimetsu no Yaiba: Mugen Ressha-Hen          $47.70M
28                        Baahubali 2: The Conclusion          $20.19M
29                                              LÃ©on          $19.50M
30                                 North by Northwest          $13.28M
31                                             Dangal          $12.39M
32                                   K.G.F: Chapter 2           $6.60M
33                                                Ran           $4.14M
34                                      Mononoke-hime           $2.38M
35                               Shichinin no samurai           $0.27M
36                                           Oldeuboi           $0.71M

# Query 4

In [18]:
import pandas as pd
statement = '''SELECT Gross_Collection FROM Table2 where Star1='Arnold' or Star2='Arnold' or Star3='Arnold' or Star4='Arnold' '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

Empty DataFrame
Columns: [Gross_Collection]
Index: []

# Query 5

In [19]:
import pandas as pd
statement = '''SELECT * FROM Table2 where Genre1 in('Action','Comedy') or Genre2 in('Action','Comedy') or Genre3 in('Action','Comedy') '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,MovieName,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2758794,Action,Crime,Drama,$534.86M,9,PG-13
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1906178,Action,Adventure,Drama,$377.85M,9,PG-13
2,Spider-Man: Across the Spider-Verse,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,205631,Animation,Action,Adventure,NaN,8.9,PG
3,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2449176,Action,Adventure,Sci-Fi,$292.58M,8.8,PG-13
4,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1934377,Action,Adventure,Drama,$315.54M,8.8,PG-13
5,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1720087,Action,Adventure,Drama,$342.55M,8.8,PG-13
6,The Matrix,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Hugo Weaving,1978758,Action,Sci-Fi,NaN,$171.48M,8.7,R
7,Star Wars: Episode V - The Empire Strikes Back,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1334620,Action,Adventure,Fantasy,$290.48M,8.7,PG
8,Soorarai Pottru,Suriya,Paresh Rawal,Urvashi,Aparna Balamurali,120271,Action,Drama,NaN,NaN,8.7,TV-MA
9,Terminator 2: Judgment Day,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,1135297,Action,Sci-Fi,NaN,$204.84M,8.6,R
10,Star Wars,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1406654,Action,Adventure,Fantasy,$322.74M,8.6,PG
11,Shichinin no samurai,ToshirÃ´ Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,356106,Action,Drama,NaN,$0.27M,8.6,Not Rated
12,Seppuku,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,TetsurÃ´ Tanba,62767,Action,Drama,Mystery,NaN,8.6,Not Rated
13,Sita Ramam,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,61883,Action,Drama,Mystery,NaN,8.6,U
14,Gladiator,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1552386,Action,Adventure,Drama,$187.71M,8.5,R
15,LÃ©on,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1202120,Action,Crime,Drama,$19.50M,8.5,R
16,The Dark Knight Rises,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1764221,Action,Drama,Thriller,$448.14M,8.4,PG-13
17,Avengers: Endgame,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,1203144,Action,Adventure,Drama,$858.37M,8.4,PG-13
18,Spider-Man: Into the Spider-Verse,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,617646,Animation,Action,Adventure,$190.24M,8.4,PG
19,Raiders of the Lost Ark,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,1007763,Action,Adventure,NaN,$248.16M,8.4,PG
20,Aliens,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,739359,Action,Adventure,Sci-Fi,$85.16M,8.4,R
21,Oldeuboi,Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Byeong-Ok,604422,Action,Drama,Mystery,$0.71M,8.4,R
22,Avengers: Infinity War,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,1144860,Action,Adventure,Sci-Fi,$678.82M,8.4,PG-13
23,Kaithi,Karthi,Narain,Arjun Das,George Maryan,37002,Action,Adventure,Crime,NaN,8.4,Not Rated
24,Asuran,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,31661,Action,Drama,NaN,NaN,8.4,Not Rated
25,Top Gun: Maverick,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,619407,Action,Drama,NaN,$718.73M,8.3,PG-13
26,Heat,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,686747,Action,Crime,Drama,$67.44M,8.3,R
27,North by Northwest,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,337288,Action,Adventure,Mystery,$13.28M,8.3,Approved
28,Star Wars: Episode VI - Return of the Jedi,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1087868,Action,Adventure,Fantasy,$309.13M,8.3,PG
29,Mononoke-hime,YÃ´ji Matsuda,Yuriko Ishida,YÃ»ko Tanaka,Billy Crudup,412449,Animation,Action,Adventure,$2.38M,8.3,PG-13
30,Dangal,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,200043,Action,Biography,Drama,$12.39M,8.3,Not Rated
31,Kantara,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,97280,Action,Adventure,Drama,NaN,8.3,Not Rated
32,Vikram,Kamal Haasan,Vijay Sethupathi,Fahadh Faasil,Narain,65178,Action,Crime,Thriller,NaN,8.3,UA
33,K.G.F: Chapter 2,Yash,Sanjay Dutt,Raveena Tandon,Srinidhi Shetty,141526,Action,Crime,Drama,$6.60M,8.3,Not Rated
34,Shershaah,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,125846,Action,Biography,Drama,NaN,8.3,TV-14
35,Ratsasan,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,47661,Action,Crime,Drama,NaN,8.3,Not Rated
36,Batman Begins,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1523788,Action,Crime,Drama,$206.85M,8.2,PG-13
37,Spider-Man: No Way Home,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,821005,Action,Adventure,Fantasy,$804.75M,8.2,PG-13
38,Jurassic Park,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,1027337,Action,Adventure,Sci-Fi,$402.45M,8.2,PG-13
39,1917,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,634880,Action,Drama,War,$159.23M,8.2,R
40,Indiana Jones and the Last Crusade,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,787430,Action,Adventure,NaN,$197.17M,8.2,PG-13
41,Kill Bill: Vol. 1,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1151974,Action,Crime,Thriller,$70.10M,8.2,R
42,V for Vendetta,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1149198,Action,Drama,Sci-Fi,$70.51M,8.2,R
43,Die Hard,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,908708,Action,Thriller,NaN,$83.01M,8.2,R
44,Ran,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke RyÃ»,130911,Action,Drama,War,$4.14M,8.2,R
45,Kimetsu no Yaiba: Mugen Ressha-Hen,Natsuki Hanae,Akari KitÃ´,Yoshitsugu Matsuoka,Hiro Shimono,66767,Animation,Action,Adventure,$47.70M,8.2,R
46,Gangs of Wasseypur,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,100141,Action,Comedy,Crime,NaN,8.2,Not Rated
47,YÃ´jinbÃ´,ToshirÃ´ Mifune,EijirÃ´ TÃ´no,Tatsuya Nakadai,YÃ´ko Tsukasa,127187,Action,Drama,Thriller,NaN,8.2,Not Rated
48,K.G.F: Chapter 1,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois,92930,Action,Crime,Drama,NaN,8.2,Not Rated
49,Baahubali 2: The Conclusion,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,108468,Action,Drama,NaN,$20.19M,8.2,Not Rated

# Join

# Query1

In [20]:
import pandas as pd
            
statement = '''
    SELECT Table1.Sno,Table1.MovieName,Table1.Director1,Table1.Director2,Table1.Director3,Table1.Duration,Table1.YearNo,
    Table1.Rating,Table1.MetaScore,Table2.Star1,Table2.Star2,Table2.Star3,Table2.Star4,Table2.Votes,Table2.Genre1,Table2.Genre2,
    Table2.Genre3,Table2.Gross_Collection,Table2.Popularity,Table2.Certification
    
    FROM Table1 INNER JOIN Table2
    ON Table1.MovieName = Table2.MovieName;
    
    '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,1,The Dark Knight,Christopher Nolan,NaN,NaN,152 min,2008,9,84,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2758794,Action,Crime,Drama,$534.86M,9,PG-13
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201 min,2003,9,94,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1906178,Action,Adventure,Drama,$377.85M,9,PG-13
2,3,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140 min,2023,8.9,86,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,Luna Lauren Velez,205631,Animation,Action,Adventure,NaN,8.9,PG
3,4,Inception,Christopher Nolan,NaN,NaN,148 min,2010,8.8,74,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2449176,Action,Adventure,Sci-Fi,$292.58M,8.8,PG-13
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178 min,2001,8.8,92,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1934377,Action,Adventure,Drama,$315.54M,8.8,PG-13
5,6,The Lord of the Rings: The Two Towers,Peter Jackson,NaN,NaN,179 min,2002,8.8,87,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1720087,Action,Adventure,Drama,$342.55M,8.8,PG-13
6,7,The Matrix,Lana Wachowski,Lilly Wachowski,NaN,136 min,1999,8.7,73,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Hugo Weaving,1978758,Action,Sci-Fi,NaN,$171.48M,8.7,R
7,8,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,NaN,NaN,124 min,1980,8.7,82,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1334620,Action,Adventure,Fantasy,$290.48M,8.7,PG
8,9,Soorarai Pottru,Sudha Kongara,NaN,NaN,153 min,2020,8.7,NaN,Suriya,Paresh Rawal,Urvashi,Aparna Balamurali,120271,Action,Drama,NaN,NaN,8.7,TV-MA
9,10,Terminator 2: Judgment Day,James Cameron,NaN,NaN,137 min,1991,8.6,75,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,1135297,Action,Sci-Fi,NaN,$204.84M,8.6,R
10,11,Star Wars,George Lucas,NaN,NaN,121 min,1977,8.6,90,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,1406654,Action,Adventure,Fantasy,$322.74M,8.6,PG
11,12,Shichinin no samurai,Akira Kurosawa,NaN,NaN,207 min,1954,8.6,98,ToshirÃ´ Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,356106,Action,Drama,NaN,$0.27M,8.6,Not Rated
12,13,Seppuku,Masaki Kobayashi,NaN,NaN,133 min,1962,8.6,85,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,TetsurÃ´ Tanba,62767,Action,Drama,Mystery,NaN,8.6,Not Rated
13,14,Sita Ramam,Hanu Raghavapudi,NaN,NaN,163 min,2022,8.6,NaN,Dulquer Salmaan,Mrunal Thakur,Rashmika Mandanna,Sumanth,61883,Action,Drama,Mystery,NaN,8.6,U
14,15,Gladiator,Ridley Scott,NaN,NaN,155 min,2000,8.5,67,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1552386,Action,Adventure,Drama,$187.71M,8.5,R
15,16,LÃ©on,Luc Besson,NaN,NaN,110 min,1994,8.5,64,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1202120,Action,Crime,Drama,$19.50M,8.5,R
16,17,The Dark Knight Rises,Christopher Nolan,NaN,NaN,164 min,2012,8.4,78,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1764221,Action,Drama,Thriller,$448.14M,8.4,PG-13
17,18,Avengers: Endgame,Anthony Russo,Joe Russo,NaN,181 min,2019,8.4,78,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,1203144,Action,Adventure,Drama,$858.37M,8.4,PG-13
18,19,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,Rodney Rothman,117 min,2018,8.4,87,Shameik Moore,Jake Johnson,Hailee Steinfeld,Mahershala Ali,617646,Animation,Action,Adventure,$190.24M,8.4,PG
19,20,Raiders of the Lost Ark,Steven Spielberg,NaN,NaN,115 min,1981,8.4,85,Harrison Ford,Karen Allen,Paul Freeman,John Rhys-Davies,1007763,Action,Adventure,NaN,$248.16M,8.4,PG
20,21,Aliens,James Cameron,NaN,NaN,137 min,1986,8.4,84,Sigourney Weaver,Michael Biehn,Carrie Henn,Paul Reiser,739359,Action,Adventure,Sci-Fi,$85.16M,8.4,R
21,22,Oldeuboi,Park Chan-wook,NaN,NaN,101 min,2003,8.4,77,Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Byeong-Ok,604422,Action,Drama,Mystery,$0.71M,8.4,R
22,23,Avengers: Infinity War,Anthony Russo,Joe Russo,NaN,149 min,2018,8.4,68,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,1144860,Action,Adventure,Sci-Fi,$678.82M,8.4,PG-13
23,24,Kaithi,Lokesh Kanagaraj,NaN,NaN,145 min,2019,8.4,NaN,Karthi,Narain,Arjun Das,George Maryan,37002,Action,Adventure,Crime,NaN,8.4,Not Rated
24,25,Asuran,Vetrimaaran,NaN,NaN,141 min,2019,8.4,NaN,Dhanush,Manju Warrier,Prakash Raj,Pasupathy,31661,Action,Drama,NaN,NaN,8.4,Not Rated
25,26,Top Gun: Maverick,Joseph Kosinski,NaN,NaN,130 min,2022,8.3,78,Tom Cruise,Jennifer Connelly,Miles Teller,Val Kilmer,619407,Action,Drama,NaN,$718.73M,8.3,PG-13
26,27,Heat,Michael Mann,NaN,NaN,170 min,1995,8.3,76,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,686747,Action,Crime,Drama,$67.44M,8.3,R
27,28,North by Northwest,Alfred Hitchcock,NaN,NaN,136 min,1959,8.3,98,Cary Grant,Eva Marie Saint,James Mason,Jessie Royce Landis,337288,Action,Adventure,Mystery,$13.28M,8.3,Approved
28,29,Star Wars: Episode VI - Return of the Jedi,Richard Marquand,NaN,NaN,131 min,1983,8.3,58,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1087868,Action,Adventure,Fantasy,$309.13M,8.3,PG
29,30,Mononoke-hime,Hayao Miyazaki,NaN,NaN,134 min,1997,8.3,76,YÃ´ji Matsuda,Yuriko Ishida,YÃ»ko Tanaka,Billy Crudup,412449,Animation,Action,Adventure,$2.38M,8.3,PG-13
30,31,Dangal,Nitesh Tiwari,NaN,NaN,161 min,2016,8.3,NaN,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,200043,Action,Biography,Drama,$12.39M,8.3,Not Rated
31,32,Kantara,Rishab Shetty,NaN,NaN,148 min,2022,8.3,NaN,Rishab Shetty,Kishore Kumar G.,Achyuth Kumar,Sapthami Gowda,97280,Action,Adventure,Drama,NaN,8.3,Not Rated
32,33,Vikram,Lokesh Kanagaraj,NaN,NaN,175 min,2022,8.3,NaN,Kamal Haasan,Vijay Sethupathi,Fahadh Faasil,Narain,65178,Action,Crime,Thriller,NaN,8.3,UA
33,34,K.G.F: Chapter 2,Prashanth Neel,NaN,NaN,168 min,2022,8.3,NaN,Yash,Sanjay Dutt,Raveena Tandon,Srinidhi Shetty,141526,Action,Crime,Drama,$6.60M,8.3,Not Rated
34,35,Shershaah,Vishnuvardhan,NaN,NaN,135 min,2021,8.3,NaN,Sidharth Malhotra,Kiara Advani,Shiv Panditt,Pranay Pachauri,125846,Action,Biography,Drama,NaN,8.3,TV-14
35,36,Ratsasan,Ram Kumar,NaN,NaN,170 min,2018,8.3,NaN,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan,47661,Action,Crime,Drama,NaN,8.3,Not Rated
36,37,Batman Begins,Christopher Nolan,NaN,NaN,140 min,2005,8.2,70,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1523788,Action,Crime,Drama,$206.85M,8.2,PG-13
37,38,Spider-Man: No Way Home,Jon Watts,NaN,NaN,148 min,2021,8.2,71,Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,821005,Action,Adventure,Fantasy,$804.75M,8.2,PG-13
38,39,Jurassic Park,Steven Spielberg,NaN,NaN,127 min,1993,8.2,68,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,1027337,Action,Adventure,Sci-Fi,$402.45M,8.2,PG-13
39,40,1917,Sam Mendes,NaN,NaN,119 min,2019,8.2,78,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,634880,Action,Drama,War,$159.23M,8.2,R
40,41,Indiana Jones and the Last Crusade,Steven Spielberg,NaN,NaN,127 min,1989,8.2,65,Harrison Ford,Sean Connery,Alison Doody,Denholm Elliott,787430,Action,Adventure,NaN,$197.17M,8.2,PG-13
41,42,Kill Bill: Vol. 1,Quentin Tarantino,NaN,NaN,111 min,2003,8.2,69,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1151974,Action,Crime,Thriller,$70.10M,8.2,R
42,43,V for Vendetta,James McTeigue,NaN,NaN,132 min,2005,8.2,62,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1149198,Action,Drama,Sci-Fi,$70.51M,8.2,R
43,44,Die Hard,John McTiernan,NaN,NaN,132 min,1988,8.2,72,Bruce Willis,Alan Rickman,Bonnie Bedelia,Reginald VelJohnson,908708,Action,Thriller,NaN,$83.01M,8.2,R
44,45,Ran,Akira Kurosawa,NaN,NaN,162 min,1985,8.2,97,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke RyÃ»,130911,Action,Drama,War,$4.14M,8.2,R
45,46,Kimetsu no Yaiba: Mugen Ressha-Hen,Haruo Sotozaki,NaN,NaN,117 min,2020,8.2,72,Natsuki Hanae,Akari KitÃ´,Yoshitsugu Matsuoka,Hiro Shimono,66767,Animation,Action,Adventure,$47.70M,8.2,R
46,47,Gangs of Wasseypur,Anurag Kashyap,NaN,NaN,321 min,2012,8.2,89,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,100141,Action,Comedy,Crime,NaN,8.2,Not Rated
47,48,YÃ´jinbÃ´,Akira Kurosawa,NaN,NaN,110 min,1961,8.2,93,ToshirÃ´ Mifune,EijirÃ´ TÃ´no,Tatsuya Nakadai,YÃ´ko Tsukasa,127187,Action,Drama,Thriller,NaN,8.2,Not Rated
48,49,K.G.F: Chapter 1,Prashanth Neel,NaN,NaN,156 min,2018,8.2,NaN,Yash,Srinidhi Shetty,Ramachandra Raju,Archana Jois,92930,Action,Crime,Drama,NaN,8.2,Not Rated
49,50,Baahubali 2: The Conclusion,S.S. Rajamouli,NaN,NaN,167 min,2017,8.2,NaN,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia,108468,Action,Drama,NaN,$20.19M,8.2,Not Rated

# Query 2

In [21]:
import pandas as pd
            
statement = '''
    SELECT Table1.MovieName,Table1.Director1,Table1.Director2,Table1.Director3,
    Table1.Rating, Table2.Gross_Collection
    
    FROM Table1 INNER JOIN Table2
    ON Table1.MovieName = Table2.MovieName
    and 
    (Table2.Genre1='Action' or Table2.Genre2='Action' or Table2.Genre3='Action')
    ;
    '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,MovieName,Director1,Director2,Director3,Rating,Gross_Collection
0,The Dark Knight,Christopher Nolan,NaN,NaN,9,$534.86M
1,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,9,$377.85M
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,8.9,NaN
3,Inception,Christopher Nolan,NaN,NaN,8.8,$292.58M
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,8.8,$315.54M
5,The Lord of the Rings: The Two Towers,Peter Jackson,NaN,NaN,8.8,$342.55M
6,The Matrix,Lana Wachowski,Lilly Wachowski,NaN,8.7,$171.48M
7,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,NaN,NaN,8.7,$290.48M
8,Soorarai Pottru,Sudha Kongara,NaN,NaN,8.7,NaN
9,Terminator 2: Judgment Day,James Cameron,NaN,NaN,8.6,$204.84M
10,Star Wars,George Lucas,NaN,NaN,8.6,$322.74M
11,Shichinin no samurai,Akira Kurosawa,NaN,NaN,8.6,$0.27M
12,Seppuku,Masaki Kobayashi,NaN,NaN,8.6,NaN
13,Sita Ramam,Hanu Raghavapudi,NaN,NaN,8.6,NaN
14,Gladiator,Ridley Scott,NaN,NaN,8.5,$187.71M
15,LÃ©on,Luc Besson,NaN,NaN,8.5,$19.50M
16,The Dark Knight Rises,Christopher Nolan,NaN,NaN,8.4,$448.14M
17,Avengers: Endgame,Anthony Russo,Joe Russo,NaN,8.4,$858.37M
18,Spider-Man: Into the Spider-Verse,Bob Persichetti,Peter Ramsey,Rodney Rothman,8.4,$190.24M
19,Raiders of the Lost Ark,Steven Spielberg,NaN,NaN,8.4,$248.16M
20,Aliens,James Cameron,NaN,NaN,8.4,$85.16M
21,Oldeuboi,Park Chan-wook,NaN,NaN,8.4,$0.71M
22,Avengers: Infinity War,Anthony Russo,Joe Russo,NaN,8.4,$678.82M
23,Kaithi,Lokesh Kanagaraj,NaN,NaN,8.4,NaN
24,Asuran,Vetrimaaran,NaN,NaN,8.4,NaN
25,Top Gun: Maverick,Joseph Kosinski,NaN,NaN,8.3,$718.73M
26,Heat,Michael Mann,NaN,NaN,8.3,$67.44M
27,North by Northwest,Alfred Hitchcock,NaN,NaN,8.3,$13.28M
28,Star Wars: Episode VI - Return of the Jedi,Richard Marquand,NaN,NaN,8.3,$309.13M
29,Mononoke-hime,Hayao Miyazaki,NaN,NaN,8.3,$2.38M
30,Dangal,Nitesh Tiwari,NaN,NaN,8.3,$12.39M
31,Kantara,Rishab Shetty,NaN,NaN,8.3,NaN
32,Vikram,Lokesh Kanagaraj,NaN,NaN,8.3,NaN
33,K.G.F: Chapter 2,Prashanth Neel,NaN,NaN,8.3,$6.60M
34,Shershaah,Vishnuvardhan,NaN,NaN,8.3,NaN
35,Ratsasan,Ram Kumar,NaN,NaN,8.3,NaN
36,Batman Begins,Christopher Nolan,NaN,NaN,8.2,$206.85M
37,Spider-Man: No Way Home,Jon Watts,NaN,NaN,8.2,$804.75M
38,Jurassic Park,Steven Spielberg,NaN,NaN,8.2,$402.45M
39,1917,Sam Mendes,NaN,NaN,8.2,$159.23M
40,Indiana Jones and the Last Crusade,Steven Spielberg,NaN,NaN,8.2,$197.17M
41,Kill Bill: Vol. 1,Quentin Tarantino,NaN,NaN,8.2,$70.10M
42,V for Vendetta,James McTeigue,NaN,NaN,8.2,$70.51M
43,Die Hard,John McTiernan,NaN,NaN,8.2,$83.01M
44,Ran,Akira Kurosawa,NaN,NaN,8.2,$4.14M
45,Kimetsu no Yaiba: Mugen Ressha-Hen,Haruo Sotozaki,NaN,NaN,8.2,$47.70M
46,Gangs of Wasseypur,Anurag Kashyap,NaN,NaN,8.2,NaN
47,YÃ´jinbÃ´,Akira Kurosawa,NaN,NaN,8.2,NaN
48,K.G.F: Chapter 1,Prashanth Neel,NaN,NaN,8.2,NaN
49,Baahubali 2: The Conclusion,S.S. Rajamouli,NaN,NaN,8.2,$20.19M

# Query 3

In [22]:
import pandas as pd
            
statement = '''
    SELECT Table1.Sno,Table1.MovieName,Table1.Director1,Table1.Director2,Table1.Director3,Table1.Duration,Table1.YearNo,
    Table1.Rating,Table1.MetaScore,Table2.Star1,Table2.Star2,Table2.Star3,Table2.Star4,Table2.Votes,Table2.Genre1,Table2.Genre2,
    Table2.Genre3,Table2.Gross_Collection,Table2.Popularity,Table2.Certification
    
    FROM Table1 INNER JOIN Table2
    ON Table1.MovieName = Table2.MovieName
    and
    Table2.Gross_Collection NOT IN ('NaN')
    order by  cast(replace(replace(Table2.Gross_Collection,'M',''),'$','') as INTEGER) DESC LIMIT 1
  
    
    '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,18,Avengers: Endgame,Anthony Russo,Joe Russo,NaN,181 min,2019,8.4,78,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,1203144,Action,Adventure,Drama,$858.37M,8.4,PG-13

# Query 4

In [23]:
import pandas as pd
            
statement = '''
    SELECT Table1.Sno,Table1.MovieName,Table1.Director1,Table1.Director2,Table1.Director3,Table1.Duration,Table1.YearNo,
    Table1.Rating,Table1.MetaScore,Table2.Star1,Table2.Star2,Table2.Star3,Table2.Star4,Table2.Votes,Table2.Genre1,Table2.Genre2,
    Table2.Genre3,Table2.Gross_Collection,Table2.Popularity,Table2.Certification
    
    FROM Table1 INNER JOIN Table2
    ON Table1.MovieName = Table2.MovieName
    where cast(Table1.Rating as DECIMAL(10,2)) = (select max(cast(Table1.Rating as DECIMAL(10,2))) from Table1);
      '''
  
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,1,The Dark Knight,Christopher Nolan,NaN,NaN,152 min,2008,9,84,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2758794,Action,Crime,Drama,$534.86M,9,PG-13
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201 min,2003,9,94,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1906178,Action,Adventure,Drama,$377.85M,9,PG-13

# Query 5

In [24]:
import pandas as pd
            
statement = '''
    SELECT Table1.Sno,Table1.MovieName,Table1.Director1,Table1.Director2,Table1.Director3,Table1.Duration,Table1.YearNo,
    Table1.Rating,Table1.MetaScore,Table2.Star1,Table2.Star2,Table2.Star3,Table2.Star4,Table2.Votes,Table2.Genre1,Table2.Genre2,
    Table2.Genre3,Table2.Gross_Collection,Table2.Popularity,Table2.Certification
     
    
    FROM Table1 INNER JOIN Table2
    ON Table1.MovieName = Table2.MovieName
    and
    cast(Table1.Rating as DECIMAL(10,2)) = (select min(cast(Table1.Rating as DECIMAL(10,2))) from Table1)
    and
    cast(replace(replace(Table2.Gross_Collection,'M',''),'$','') as DECIMAL(10,2)) >0
    order by
    cast(replace(replace(Table2.Gross_Collection,'M',''),'$','') as DECIMAL(10,2)) limit 1
    ;
    
    '''
    
#cursor_obj.execute(statement)
data = pd.read_sql(statement, conn)
data

,Sno,MovieName,Director1,Director2,Director3,Duration,YearNo,Rating,MetaScore,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,45,Ran,Akira Kurosawa,NaN,NaN,162 min,1985,8.2,97,Tatsuya Nakadai,Akira Terao,Jinpachi Nezu,Daisuke RyÃ»,130911,Action,Drama,War,$4.14M,8.2,R